<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="plugin.video.sweettv">

    <category id="general" label="30800" help="30900">
      <group id="1">
        <setting id="pair_device" type="action" label="30801" help="30901">
          <level>0</level>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.sweettv/?action=pair_device)</data>
          </control>
        </setting>
        <setting id="unpair_device" type="action" label="30802" help="30902">
          <level>0</level>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.sweettv/?action=unpair_device)</data>
          </control>
        </setting>
        <setting id="max_bitrate" type="string" label="30803" help="30903">
          <level>0</level>
          <default>Unlimited</default>
          <constraints>
            <options>
              <option label="30830">Unlimited</option>
              <option label="30831">8 Mbit/s</option>
              <option label="30832">6 Mbit/s</option>
              <option label="30833">4 Mbit/s</option>
              <option label="30834">3 Mbit/s</option>
              <option label="30835">2 Mbit/s</option>
            </options>
          </constraints>
          <control type="list" format="string">
            <heading>30803</heading>
          </control>
        </setting>
        <setting id="api_lang" type="string" label="30808" help="30908">
          <level>0</level>
          <default>auto</default>
          <constraints>
            <options>
              <option label="30820">auto</option>
              <option label="30821">sk</option>
              <option label="30822">cs</option>
              <option label="30823">en</option>
              <option label="30824">uk</option>
              <option label="30825">ru</option>
            </options>
          </constraints>
          <control type="list" format="string">
            <heading>30808</heading>
          </control>
        </setting>
        <setting id="setup_pvr" type="action" label="30837" help="30937">
          <level>0</level>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.sweettv/?action=setup_pvr)</data>
          </control>
        </setting>
        <setting id="configure_pvr" type="action" label="30836" help="30936">
          <level>0</level>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.sweettv/?action=configure_pvr)</data>
          </control>
        </setting>
        <setting id="fav_archive" type="action" label="30839" help="30939">
          <level>0</level>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.sweettv/?action=add_kodi_favourite&amp;target=archive)</data>
          </control>
        </setting>
        <setting id="fav_movies" type="action" label="30840" help="30940">
          <level>0</level>
          <control type="button" format="action">
            <data>RunPlugin(plugin://plugin.video.sweettv/?action=add_kodi_favourite&amp;target=movies)</data>
          </control>
        </setting>
      </group>
    </category>

    <category id="channels" label="30804" help="30904">
      <group id="1">
        <setting id="show_adult" type="boolean" label="30805" help="30905">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="adult_pin" type="string" label="30819" help="30919">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30819</heading>
            <hidden>true</hidden>
          </control>
          <dependencies>
            <dependency type="visible" setting="show_adult" operator="is">true</dependency>
          </dependencies>
        </setting>
        <setting id="epg_days" type="integer" label="30806" help="30906">
          <level>0</level>
          <default>3</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>7</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
      </group>
    </category>

    <category id="playback" label="30807" help="30907">
      <group id="1">
        <setting id="auto_close_stream" type="boolean" label="30809" help="30909">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="verbose_logging" type="boolean" label="30817" help="30917">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>


    <!-- IPTV Manager integration - hidden settings used by service.iptv.manager. -->
    <category id="iptv_manager_internal">
      <group id="1">
        <setting id="iptv.enabled" type="boolean">
          <level>4</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="iptv.channels_uri" type="string">
          <level>4</level>
          <default>plugin://plugin.video.sweettv/?action=iptv_channels&amp;port={port}</default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="iptv.epg_uri" type="string">
          <level>4</level>
          <default>plugin://plugin.video.sweettv/?action=iptv_epg&amp;port={port}</default>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>

  </section>
</settings>
